<div class="col-8">
  <h2> You have passed the '<%= @taken_test.test.title %>' test </h2>
  <%= result_prompt(@taken_test) %>
  <%= link_to 'View tests', tests_path, class: 'btn btn-primary' %>
</div>