<div style='text-align:center'>
  <strong>Test Guru</strong>
  <p class='font-size:12px'>An app providing users with tests to solve</p>
  <a href='http://www.thinknetica.com'>Thinknetica</a>
</div>
<footer style='text-align:center;position:absolute;bottom:0;width:100%;height:3rem'>
  <strong>Dan Svetlov @ <a href='http://www.github.com/Aerdayne'>GitHub</a></strong>
</footer>